[data-controller="radiobutton"] .btn:after {
    font-family: 'Courier New', Courier, monospace;
    content: "▢";
    padding: 0 0 0 .5em;
    opacity: .3;
    width: 1em;
}

[data-controller="radiobutton"] .btn.active:after {
    content: "\2713";
    opacity: 1;
}

address {
    white-space: pre-wrap;
}

.dl-horizontal {
    display: grid;
    grid-template-columns: max-content auto;
    gap: .5em;
}

.dl-horizontal dt {
    grid-column-start: 1;
    text-align: end;
}

.dl-horizontal dd {
    grid-column-start: 2;
}

@media print {
    body, html, :root {
        font-size: 12px;
    }
    .header-brand {
        text-align: right;
    }
    .header-brand img {
        width: 300px;
    }
    .header-toggler, .breadcrumb {
        display: none !important;
    }
    .h-100 {
        height: auto !important;
    }
    .workspace-limit {
        max-width: fit-content !important;
    }
    .overflow-hidden {
        overflow: visible !important;
    }
    * {
        overflow: visible !important;
    }
}